@font-face {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(https://fonts.gstatic.com/s/francoisone/v13/_Xmr-H4zszafZw3A-KPSZut9wQiU.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
}
h1,
h2,
h3 {
  font-family: 'Francoise-One', sans-serif;
  font-size: 3rem;
}
