@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v12/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v13/Qw3aZQNVED7rKGKxtqIqX5EUDXx9.ttf) format('truetype');
}
.primary-font {
  font-family: 'Josefin Sans', sans-serif;
}
.secondary-font {
  font-family: 'Amatic SC', sans-serif;
}
.test {
  border: 1px solid red;
}
.larger-top-space {
  margin-top: 10%;
}
.smaller-top-space {
  margin-top: 5%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
}
@media (min-width: 1000px) {
  body {
    max-width: 900px;
    margin: 0 auto;
  }
}
body h1,
body h2,
body h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 10px 0;
}
body p {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
body .cta-btn {
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px 20px;
  margin-top: 10%;
  width: 90%;
  max-width: 500px;
  border-radius: 25px;
  background-color: #44A406;
  color: #ffffff;
}
body .cta-btn:hover,
body .cta-btna:active {
  background-color: #222948;
}
header {
  display: flex;
  justify-content: center;
}
header .top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}
header .top-bar img {
  width: 50%;
  max-width: 150px;
}
header .top-bar .logo-text {
  font-size: 2rem;
}
header .top-bar .logo-text {
  color: #222948;
}
header .top-bar .logo-first {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  color: #44A406;
}
header .top-bar .header-img {
  width: 100%;
  height: 350px;
  background-image: url("../assets/quiet-student-large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5%;
}
@media (min-width: 1000px) {
  header .top-bar .header-img {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
  background-color: #222948;
  color: #ffffff;
}
footer p,
footer a {
  font-size: 1rem;
}
footer a {
  color: #ffffff;
}
.content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .content-container {
    max-width: 900px;
  }
}
@media (min-width: 1000px) {
  .content-container .top-flex {
    display: flex;
  }
}
.content-container .top-flex .top-img {
  background-image: url("../assets/quiet-student-large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 5%;
  width: 100%;
  height: 350px;
  display: none;
}
@media (min-width: 1000px) {
  .content-container .top-flex .top-img {
    align-self: center;
    display: block;
    height: 350px;
    width: 45%;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
.content-container .content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1000px) {
  .content-container .content-top {
    flex-direction: column;
    width: 50%;
  }
}
.content-container h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10%;
}
@media (min-width: 1000px) {
  .content-container h2 {
    margin: 0;
  }
}
.content-main {
  display: flex;
  flex-direction: column;
}
.content-main h2 {
  text-align: center;
  padding: 0;
  margin-top: 10%;
}
.content-main h3 {
  text-align: center;
}
.content-main .features {
  padding: 0 2%;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-main .features img {
  max-width: 150px;
  width: 50%;
}
.content-main .features p {
  padding: 0 2%;
  margin-bottom: 10%;
}
.content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.content-bottom h2 {
  text-align: center;
}
