@import './variables';
@import './mixins';


* {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  padding: 0;
}

body {
  .body-font;
  font-size: 62.5%;
  line-height: 1.25rem;

}

h1, h2, h3 {
  .header-font;
  font-size: 2rem;
}
   