@import '../variables.less';
@import '../mixins.less';

.content-container {
    display: flex;
    flex-direction: column;
    margin: 0;

    .content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2 {
            text-align: center;
            padding: 0;
            margin: 0;
            .larger-top-space;
        }



    }
  
    .content-main {

        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            padding: 0;
            // margin-top: 20%;
            .larger-top-space;
        }   

        h3 {
            text-align: center;

        }


        .features {

            padding: 0 2%;
            // margin: 0;
            width: 100%;
            .smaller-top-space;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 150px;
                width: 50%; 
                // align-self: center;
             }

            p {
                padding: 0 2%;
                margin-bottom: 10%;
                // align-self: 
            }

        }

    }

    .content-bottom {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15%;

        h2 {
            text-align: center;
        }

    }


} 
 
